# parte-1
django
django-autoslug
django-debug-toolbar
django-model-utils
factory-boy
ipython
pillow
psycopg2
pytest
pytest-cov
pytest-django

# parte-2
django-widget-tweaks==1.4.8

# parte-3
django-crispy-forms==1.11.0
django-localflavor==3.0.1

# parte-4
mercadopago==2.0.6
django-environ==0.4.5
pytest-mock==3.5.1
requests==2.25.1
